html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Rampart One', cursive;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: magenta;
  transition: 0.6s ease-in-out;
}


/*--------Nav Bar-------------*/

nav {
  text-align: right;
}

li {
  display: inline;
  justify-content: space-between;
  padding: 30px;
  font-size: 40px;
}

/*----------------------------*/


.front-page-container {
  height: 100vh;
  margin-left: 10px;
}

.heading-container {
  display:inline-flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 80px;
}

.logo {
max-height: 100px;
padding-left: 50px;
}

.title {
  font-size: 55px;
  color: cyan;
  display: block;
  margin-top: 0;
  padding-top: 0;
}

.divider-title {
  color: white
}

.fa-brands {
  font-size: 80px;
  padding: 7px;
}

.fa-file-lines{
  font-size: 80px;
  padding: 7px;
}

.about {
  height: 100vh;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}


h1 {
  font-size: 60px;
  grid-row:  1;
}

.bio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  grid-row: 2;
  align-items: center;
  justify-content: center;
}

.bio-pic {
  height: 300px;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}


#projects {
  height: 100vh;
  margin: 20px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
}


.projectcard {
  width: 269px;
  height: 400px;
  box-shadow: 5px 5px 20px grey;
  border: solid 2px black;
  background-color: transparent;
  border-radius: 5%;
  margin-left: 20px;
}

.button-container {
  display: inline-flex;
}

/* https://getcssscan.com/css-buttons-examples */

.button-56 {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button-56:after {
  background-color: white;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  outline: 0;
}

.button-56:hover {
  outline: 0;
  background-color: black;
  color: white;
}
.card-container {
  margin: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-image {
  max-height: 100%;
  border-radius: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#contact {
  padding: 40px;
  margin: 20px;
  height: 100vh;
}

.contact-container{
 margin-top: 200px;
}

.arrow-down{
  text-align: center;
  margin-top: 200px;
  font-size: 75px;
}

footer {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
  li {
    display: block;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
  }

  .heading {
    font-size: 50px;
  }

  .title {
    font-size: 35px;
  }

  .about {
    display: grid;
    height: 100vh;

  }

  .fa-brands {
    font-size: 60px;
    padding: 10px;
  }

  .fa-file-lines {
    font-size: 60px;
    padding: 10px;
  }

  .bio-pic {
    height: 100px;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 35px;
  }

  .card-image {
    max-width: 100%;
    max-width: 100%;
  }

  .bio {
    font-size: 20px;
    margin-left: 10px;
  }

  .projectcard {
    width: 92px;
    height: 137px;
    box-shadow: 5px 5px 20px grey;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  /* Buttons */

  .button-56 {
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 11px;
    height: 25px;
    justify-content: center;
    line-height: 24px;
    max-width: 90%;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
  }
  
  .button-56:after {
    background-color: black;
    border-radius: 8px;
    content: "";
    display: block;
    height: 25px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
    background-color: black;
    color: white;
  }

  .button-container {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 5px;
  }

  .card-image{
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .card-container {
   justify-content: center;
    text-align: center;
  }

}


