html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Rampart One", cursive;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: magenta;
  transition: 0.6s ease-in-out;
}


.front-page-container {
  height: 100vh;
  margin-left: 10px;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 80px;
}

.logo {
  max-height: 100px;
  padding-left: 20px;
}

.title {
  font-size: 55px;
  color: cyan;
  display: block;
  margin-top: 0;
  padding-top: 0;
}

.divider-title {
  color: white;
}

.fa-brands {
  font-size: 80px;
  padding: 7px;
}

.fa-file-lines {
  font-size: 80px;
  padding: 7px;
}

/*-----------About Me Section-----------------*/

.about {
  height: 100vh;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

h1 {
  font-size: 60px;
  width: 100%;
}

.bio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.new-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

/*----------Contact Section------------------*/

#contact {
  display: flex;
  padding: 40px;
  margin: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  text-align: center;
  margin-top: 200px;
  font-size: 75px;
}

footer {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/*-------------Media Query----------------- */

@media only screen and (max-width: 700px) {
  li {
    display: block;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
  }
  .logo {
    display: none;
  }
  .heading {
    font-size: 50px;
  }

  .title {
    font-size: 35px;
  }

  .about {
    display: grid;
    height: 100vh;
  }

  .fa-brands {
    font-size: 60px;
    padding: 10px;
  }

  .fa-file-lines {
    font-size: 60px;
    padding: 10px;
  }

  h1 {
    font-size: 35px;
  }

  .bio {
    font-size: 20px;
    margin-left: 10px;
  }

  h3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
